{% extends 'base.html.twig' %}

{% block title %}New Commentaires{% endblock %}

{% block body %}
    <h1>Poster un nouveau commentaire</h1>

    {{ include('commentaires/_form.html.twig') }}

    <a href="{{ path('app_articles_show', {'id': id}) }}">Retour à l'article</a>
{% endblock %}
